<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taller2.foodie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Saldo_delivery"></activity>
        <activity android:name=".Pedido_activo_delivery" />
        <activity android:name=".Historicos_delivery" />
        <activity android:name=".Demanda_de_pedidos" />
        <activity android:name=".Ingresar_Direccion" />
        <activity android:name=".Login" />
        <activity android:name=".Confirmar_Entrega" />
        <activity android:name=".Mapa" />
        <activity android:name=".Chat" />
        <activity android:name=".Informacion_Pedido" />
        <activity android:name=".Pedidos_Pendientes" />
        <activity android:name=".Seleccion_Destino" />
        <activity android:name=".Carrito_Compras" />
        <activity android:name=".Seleccion_Comercio_Productos" />
        <activity android:name=".Categorias_Productos" />
        <activity android:name=".Editar_Perfil" />
        <activity android:name=".Historicos" />
        <activity android:name=".Mis_Pedidos" />
        <activity android:name=".Menu_Usuario" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu_Delivery"
            android:label="@string/app_name" />
        <activity
            android:name=".Perfil"
            android:label="@string/app_name" />
        <activity
            android:name=".Consulta_todos_pedidos"
            android:label="@string/app_name" />
        <activity
            android:name=".Pedir"
            android:label="@string/app_name" />
        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyA_8d8pMcb0BS0bYzdWqnaWVSyUV-l5gTA"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>